<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>

<!-- Edit Body -->

<body>

    <a href="/drink/" style="text-decoration: none"><h1 class="welcome2">MoonSol Organics</h1></a><br>

    <nav>
        <a href="/drink/new" style="text-decoration: none"><button id="newitem">New Item</button></a> 
    </nav><br>

    <form action="/drink/<%= drink.id %>?_method=DELETE" method="post">
        <input id="delete" type="submit" value="Delete">
    </form>
    <hr><br>

    <!-- Drink Data -->

    <form action="/drink/<%= drink.id %>?_method=PUT" method="POST">
    
    <!-- <h1><%= drink.name %> </h1> -->

    <!-- Drink Name -->

    <p>name:&nbsp<input type="text" name="name" value="<%= drink.name %>"/></p>

    <!-- Drink Description -->

    <p>description:&nbsp<input type="text" name="description" value="<%= drink.description %>"/></p> 

    <!-- Drink Image -->

    <img src="<%= drink.img %> " alt="Drink Image">

    <p>image:&nbsp<input type="url" name="img" value="<%= drink.img %>"/></p>

    <!-- Drink Price -->

    <p>price:&nbsp<input type="text" name="price" value="<%= drink.price %>"/></p>

    <!-- Quantity -->

    <p>qty:&nbsp<input type="text" name="qty" value="<%= drink.qty %>"/></p>

    <br>
    <input type="submit" value="Update <%= drink.name %>">
    
    </form>

    <hr>
    <p class="footer">MoonSol Organics</p>  
    
</body>
</html>