<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>

<!-- Show Body -->

<body>

    <a href="/drink/" style="text-decoration: none"><h1 class="welcome2">MoonSol Organics</h1></a><br>

    <nav>
        <a href="/drink/new" style="text-decoration: none"><button id="newitem">New Item</button></a> 
    </nav><hr>

    <!-- Drink Data -->
    
    <h1><%= drink.name %></h1>
    <p>$<%= drink.price %></p>

    <img src="<%= drink.img %> " alt="Drink Image">

    <div id="ingredients-show">
        <p class="ingredients-show"><%= drink.ingredient1 %></p>
        <p class="ingredients-show"><%= drink.ingredient2 %></p>
        <p class="ingredients-show"><%= drink.ingredient3 %></p>
        <p class="ingredients-show"><%= drink.ingredient4 %></p>
        <p class="ingredients-show"><%= drink.ingredient5 %></p>
        <p class="ingredients-show"><%= drink.ingredient6 %></p>
        <p class="ingredients-show"><%= drink.ingredient7 %></p>
        <p class="ingredients-show"><%= drink.ingredient8 %></p>
        <p class="ingredients-show"><%= drink.ingredient9 %></p>
        <p class="ingredients-show"><%= drink.ingredient10 %></p>
    </div>

    <div class="instructions">
    <p><%= drink.description %></p>
    </div>

    <div class="drink-history">
    <p><%= drink.drinkHistory %></p>
    </div>  
    <p>Stock:&nbsp<%= drink.qty %></p>

    <a href="/drink/<%= drink.id %>/edit"><button>Edit</button></a><br>

    <hr>
    <p class="footer">MoonSol Organics</p>

</body>
</html>
